<ion-view view-title="Brgy. Permit">
        <ion-content padding="true">
        <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Name</span>
              <input type="text" placeholder="John" ng-model="user.name">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Address</span>
              <input type="text" placeholder="Address" ng-model="user.address">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Liner of Business</span>
              <input type="text" placeholder="Trisikad" ng-model="user.LB">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Business Address</span>
              <input type="text" placeholder="Pob. Tag. Mis. Or." ng-model="user.BA">
            </label>
          
          </div>

          <div class="padding">
           <button class="button button-full button-dark" ng-click="fatcs3Alert()"> SUBMIT </button> 
          </div>

          </ion-content>
      </ion-view>