<ion-view view-title="Home">
        <ion-content padding="true">
		
		<h3>Welcome!!</h3>
        <h6>Barangay Registration System</h6>
        <p class="buttons">
           	<a class="button button-full item item-icon-left button-calm " href="#/tab/barangay_clearance"><i class="icon ion-compose"></i> Brgy. Clearance</a>
            <a class="button button-full item item-icon-left button-assertive" href="#/tab/facts3"><i class="icon ion-compose"></i> Brgy. Permit</a>
            <a class="button button-full item item-icon-left button-royal" href="#/tab/business_clearance"><i class="icon ion-compose"></i> Brgy. Bussiness Clearance</a>
            <a class="button button-full item item-icon-left button-energized" href="#/tab/facts4"><i class="icon ion-compose"></i> Personal Complaints</a>
             
          </p>
        </ion-content>
      </ion-view>


